/* Password recovery styles */

.password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--background-color);
}

.password__title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.password__form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.password__label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.password__input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.password__button {
    padding: 0.5rem;
    color: var(--background-color);
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--primary-color);
    border: none;
}

.password__button:hover {
    background-color: var(--primary-color-dark);
}
